# variables de entorno para el proyecto tuempleo.cl

JWT_SECRET=
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_NAME=
DB_PASSWORD=
DB_LOGS=
DB_SYNCHRONIZE=
PORT=
# API_KEY=
# ENCRYPT_SECRET=
APP_NAME=
APP_URL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
#Production
# GOOGLE_CALLBACK_URL=
#Development
GOOGLE_CALLBACK_URL=

LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=
# LINKEDIN_CALLBACK_URL=
LINKEDIN_CALLBACK_URL=

API_GATEWAY_TOKEN=

#envs server
